@page "/"

<div style="display:flex">
	<div style="border:1px black solid;flex:0 0 auto">
		<BzCanvas Width=800 Height=600 @ref="@BzCanvas">
			<Backgrounder>
				<BzBackgrounder></BzBackgrounder>
			</Backgrounder>
			<Element>
				@foreach (var item in rf)
				{
					<ElmDebug Rect="item"></ElmDebug>
				}

			</Element>
		</BzCanvas>
	</div>
	<div style="flex:auto">
		<button @onclick="OnDebug1">Debug1</button>
		<button @onclick="OnDebug2">Debug2</button>
	</div>
</div>
@code {
	BzCanvas BzCanvas;

	List<System.Drawing.RectangleF> rf = new List<System.Drawing.RectangleF>();

	void OnDebug1()
	{
		var r = new Random();
		for (int i = 0; i <= 50; i++)
		{
			rf.Add(new System.Drawing.RectangleF(r.Next(1000), r.Next(1000), 25, 25));
		}

	}

	void OnDebug2()
	{

	}
}