@page "/"

@using BlazorCanvas.Data

<div style="display:flex">
    <div style="border:1px black solid;flex:0 0 auto">
        <BzCanvas Width=1200 Height=800 @ref="@BzCanvas" DataFlow="@DataFlow">
            <Backgrounder>
                <BzBackgrounder></BzBackgrounder>
            </Backgrounder>
            <Element>
                @foreach (var item in rf)
                {
                    @*<ElmDebug Rect="item"></ElmDebug>*@
                }

            </Element>
        </BzCanvas>
    </div>
    <div style="flex:auto">
    </div>
</div>

@BzCanvas?.Flows?.FirstOrDefault()?.Data?.Trunks?.Count;

@code {
    BzCanvas BzCanvas;

    DataFlow DataFlow = new DataFlow();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataFlow.Flows.Add(new FlowData());
    }

    void DF1()
    {

    }

    void DF2()
    {

    }

    void DF3()
    {

    }


    List<System.Drawing.RectangleF> rf = new List<System.Drawing.RectangleF>();

    void OnDebug1()
    {
        var r = new Random();
        for (int i = 0; i <= 5; i++)
        {
            rf.Add(new System.Drawing.RectangleF(r.Next(1000), r.Next(1000), 25, 25));
        }

    }

    void OnDebug2()
    {
        rf.RemoveAt(1);
    }
}